.mypy_cache
.pytest_cache
__pycache__
.idea
node_modules
build
dist
.ipynb_checkpoints
*.pstat
*.egg-info
/experiments
/local_experiments
/data
/third_party

/spelling_correction/.transformers_cache
/spelling_correction/baselines/jamspell
/spelling_correction/benchmarks/dev
/spelling_correction/benchmarks/test
/spelling_correction/benchmarks/matthias
