.mypy_cache
.pytest_cache
__pycache__
.idea
node_modules
build
dist
.ipynb_checkpoints
*.pstat
*.egg-info
/experiments
/local_experiments
/data
/third_party
.cache
*.zip
docs

/spell_checking/.transformers_cache
/spell_checking/baselines/jamspell
/spell_checking/benchmarks/dev
/spell_checking/benchmarks/test
/spell_checking/benchmarks/matthias
