.mypy_cache
.pytest_cache
__pycache__
.idea
node_modules
build
dist
.ipynb_checkpoints
*.pstat
*.egg-info
.cache
*.zip
/sphinx_docs/_build
.nsc_cache

/experiments
/data
/zipped
/third_party/*
!/third_party/gector
!/third_party/gpt3
!/third_party/trt

/nsc/utils/edit_distance_rs/target
/spell_checking/benchmarks/dev
/spell_checking/benchmarks/test
/spell_checking/baselines/jamspell
/spell_checking/baselines/languagetool/ngram_data
