# additional requirements to the ones in setup.py (not necessary to use nsc library)

sphinx==4.5.0 # (documentation generation)
pycodestyle==2.8.0 # (code style and formatting)
pytest==6.2.5 # (unit testing)
pytest-xdist==2.5.0 # (plugin to run pytest in parallel)
